RequirementsWe recommend using a conda virtual environment to prevent dependency conflicts. This calculation mainly uses Jupyter notebook. We recommend these versions:
IPython          		>= 9.6.0ipykernel        		>= 7.0.1jupyter_client   		>= 8.6.3jupyter_core     		>= 5.9.1jupyter_server   		>= 2.17.0jupyterlab       		>= 4.4.9nbclient         		>= 0.10.2nbconvert        		>= 7.16.6nbformat         		>= 5.10.4notebook         		>= 7.0.6traitlets        		>= 5.14.3Libraries for core analysis:Numpy				>= 1.26.1Pandas				>= 2.1.2  Obspy				>= 1.4.0 Spectrum			>= 0.8.1 Scipy				>= 1.16.2 Libraries for mapping:Matplotlib			>= 3.8.1Pygmt				>= 0.10.0  